@font-face {
    font-family: 'ISOCPEUR';
    src: url('ISOCPEUR.woff2') format('woff2'),
        url('ISOCPEUR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

