@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/fonts/iscocpeur/stylesheet.css");

body {
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.scrollbar-oculto {
  scroll-behavior: contain;
  overflow: hidden;
  scrollbar-gutter: stable;
}

.scrollbar-oculto:hover {
  overflow-y: scroll;
}

.scrollbar-stilizado::-webkit-scrollbar,
.scrollbar-oculto::-webkit-scrollbar {
  width: 0.5rem;
  max-height: 1rem;
}

.scrollbar-stilizado::-webkit-scrollbar-thumb,
.scrollbar-oculto::-webkit-scrollbar-thumb {
  background-color: #888;
  /*Colordelthumb*/
  border-radius: 500px;
}

.scrollbar-stilizado-white::-webkit-scrollbar-thumb {
  background-color: #fff;
}
.scrollbar-stilizado-white::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}

.scrollbar-stilizado-dark-red::-webkit-scrollbar-thumb {
  background-color: #7a0217;
}
.scrollbar-stilizado-dark-red::-webkit-scrollbar-thumb:hover {
  background-color: #4e000d;
}

.scrollbar-stilizado-semi-black::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
.scrollbar-stilizado-semi-black::-webkit-scrollbar-thumb:hover {
  background-color: #333232;
}

.scrollbar-stilizado-black::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.scrollbar-stilizado-black::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.scrollbar-oculto::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.semi-transparent-border-black {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.semi-transparent-border-black {
  border: 1px solid #00000080;
}



.loader:before,
.loader:after {
   content:"";
   position: absolute;
   background: inherit; 
   bottom: 100%;
   width: 50%;
   height: 100%;
   animation: inherit;
   animation-name: animation-loader-2;
}

.loader:before {
  left:0;
  --s:-1,1;
}

.loader:after {
  right:0;
}

@keyframes animation-loader {
   0%,30%   {transform:translateY(0)     scaleY(1)}
   49.99%   {transform:translateY(-50%)  scaleY(1)}
   50%      {transform:translateY(-50%)  scaleY(-1)}
   70%,100% {transform:translateY(-100%) scaleY(-1)}
}
@keyframes animation-loader-2 {
   0%,10%,90%,100% {transform: scale(var(--s,1)) translate(0)}
   30%,70%         {transform: scale(var(--s,1)) translate(10px)}
   50%             {transform: scale(var(--s,1)) translate(10px,10px)}
}